.card {
  margin-bottom: 20px;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.container-fluid {
  height: 100vh; /* Esto establece la altura al 100% del viewport height */
}
